.mybox{
	background-color: #bacfd2;}
h1 {
	font-family: comic sans ms,cursive;
	text-align: center;
	font-size: 700%;
	margin-top: 70px;
	margin-bottom: 70px;
}

.icons{
  max-width: 200px;
  border-radius: 50%;
}

div {
	margin-bottom: 20px;
}

.sub{
	font-weight: bold;
	font-size: 120%;
}



